body {
    margin: auto;
    background-image: url("../images/mce-bg1.jpg");
    background-size: 100%;
    background-position: center;
}

.check-buttons {
    margin: 10px;
}

.choice-labels {
    margin-right: 30px;
}